{% extends 'partials/layout.njk' %}
{% block title%}Contact{% endblock %}
{% block content %}
    <h1>Answers</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
                </tr>

                <tr>
                <th>Age</th>
                <td>{{ age }}</td>
                </tr>

                <tr>
                <th>Birth date</th>
                <td>{{ bday }}</td>
                </tr>

                 <tr>
                <th>Favourite color</th>
                <td>{{ favcolor }}</td>
                </tr>

                <tr>
                <th>Favourite color</th>
                <td>{{ favcolor }}</td>
                </tr>

                <tr>
                <th>You be cool</th>
                <td>{{ cool }}</td>
                </tr>

                <tr>
                <th>Quests</th>
                <td>{{ quest }}</td>
                </tr>

                <tr>
                <th>Food order</th>
                <td>{{ food }}</td>
                </tr>

                <tr>
                <th>Fruits</th>
                <td>{{ fruit }}</td>
                </tr>

                 <tr>
                <th>Languages</th>
                <td>{{ language }}</td>
                </tr>

            </tbody>
        </table>
{% endblock %}
