{% extends 'partials/layout.njk' %}
{% block title%}form{% endblock %}
{% block content %}
    <h1>Form</h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Write you name"></div>
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea class="form-control" id="bio" rows="3"></textarea>
            </div>
            <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" min="0" max="1000" class="form-control" id="age" placeholder="Write you age">
            </div>
            <div class="mb-3">
            <label for="bday" class="form-label">Birth date</label>
            <input type="date" class="form-control" id="age" placeholder="Write you birth date">
            </div>
            <div class="mb-3">
            <label for="favcolor" class="form-label">Favourite color</label>
            <input type="color" min="0" max="1000" class="form-control" id="favcolor">
            </div>
             <div class="mb-3">
            <label for="cool" class="form-label">Did you be cool?</label>
            <input type="checkbox" min="0" max="1000" class="form-check-input" id="cool">
            </div>
             <div class="mb-3">
                <p>Choose your quest</p>
                <input name="quest" type="radio" class="form-check-input" id="swallow">
                <label for="swallow" class="form-label">To figure out the airspeed velocity of an unladen swallow</label>
                <input name="quest" type="radio" class="form-check-input" id="holygrail">
                <label for="holygrail" class="form-label">seek the holy grail</label>
                <input name="quest" type="radio" class="form-check-input" id="grail">
                <label for="grail" class="form-label">seek the grail</label>
                <input name="quest" type="radio" class="form-check-input" id="assyria">
                <label for="assyria" class="form-label">find the capital of Assyria</label>
                <input name="quest" type="radio" class="form-check-input" id="cool">
                

                 </div>
             <div class="mb-3">
                <p>Food order</p>
                <input name="food" type="checkbox" class="form-check-input" id="Sandwich">
                <label for="Sandwich" class="form-label">Sandwich</label>
                <input name="food" type="checkbox" class="form-check-input" id="Booze">
                <label for="Booze" class="form-label">Booze</label>
                <input name="food" type="checkbox" class="form-check-input" id="Chocolate">
                <label for="Chocolate" class="form-label">Chocolate</label>

                    </div>
             <div class="mb-3">
                <label for="fruit" class="form-label">Favorite fruit</label>
                <select id="fruit" class="form-select">
                    <option disabled selected>Select fruit</option>
                    <option>Banana</option>
                    <option>Apple</option>
                    <option>Orange</option>
                    <option>Pear</option>
                    </select>
                    </div>

                    <div class="mb-3">
                <label for="language" class="form-label">What Language you speak?</label>
                <select multiple id="fruit" class="form-select" size="5">
                    <option disabled selected>Select language</option>
                    <option>Estonian</option>
                    <option>English UK</option>
                    <option>Finnish</option>
                    <option>English US (the better one)</option>
                    <option>Estonian (elementary grade)</option>
                    <option>Estonian (middle school grade)</option>
                    <option>Estonian (high school grade)</option>
                    <option>Estonian (expert grade)</option>
                    </select>
                    </div>

                    <div class="mb-3">
                <label for="language" class="form-label">How much do you like this form?</label>
                <input type="range" class="form-range" id="like">
                </div>
                <input type="submit" class="btn btn-primary" value="Send">
                <button class="btn btn-primary">Send</button>
        </form>
    {% endblock %}